<fieldset id="specialty-filter">
    <div>
      <input type="checkbox" id="UX" name="specialty" value="UX">
      <label for="UX">UX</label>
    </div>
    <div>
      <input type="checkbox" id="Tech" name="specialty" value="Tech">
      <label for="Tech">Tech</label>
    </div>
    <div>
      <input type="checkbox" id="UI" name="specialty" value="UI">
      <label for="UI">UI</label>
    </div>
    <div>
       <input type="checkbox" id="Maatschappij" name="specialty" value="Maatschappij">
       <label for="Maatschappij">Maatschappij</label>
    </div>
    <div>
       <input type="checkbox" id="Vormgeving" name="specialty" value="Vormgeving">
       <label for="Vormgeving">Vormgeving</label>
    </div>
    <div>
       <input type="checkbox" id="Staff" name="specialty" value="Staff">
       <label for="Staff">Staff</label>
    </div>
</fieldset>

<button id="filter"><img class="icon" src="/images/filter.svg"> <div class="filterSelect" id="filterSelect3" /></button>
<div class="filter-pos-container">
    <button id="alphabet-filter-btn">A-Z <div class="filterSelect" id="filterSelect2" /></button>
    <button id="filters">
        <img class="icon" src="/images/filters.svg">
        <div class="filterSelect" id="filterSelect4" />
    </button>
    <form id="search-teacher">
        <button id="search-teacher-btn" type="submit"><img class="icon" src="/images/magnifying.svg"> <div class="filterSelect" id="filterSelect1" /></button>
        <input id="search-input" class="input" type="text" placeholder="Zoek voor een docent" autocomplete="off">
        <div id="keyboard-bg"></div>
        <div id="keyboard" class="simple-keyboard"></div>
    </form>
    <fieldset id="alphabet-filter">
        <input class="letterInput" type="radio" id="All" name="alphabet" value="All" />
        <label class="letterLabel" for="All">All</label>
    </fieldset>
</div>