body {
    background-color: rgb(48, 48, 48);
    font-family: 'Poppins', sans-serif;
}

.teachers {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    background-color: rgb(248, 189, 25);
    border-radius: 5px;

    scroll-snap-type: y mandatory;
} 

nav {
    position: sticky;
    bottom: 6%;
    left: 82%;
    display: inline-block;
    font-size: 16px;
}

nav button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color .3s ease;
}

nav button:hover {
    background-color: #419644;
    transition: background-color .3s ease;
}

.teachers::before {
    position: absolute;
    border-radius: 28%;
    right: 50%;
    transform: translate(50%, -70%);
    content: '';
    height: 5em;
    width: 6.5em;
    background-color: rgb(248, 189, 25);
}

.teachers::after {
    position: absolute;
    border-radius: 100%;
    right: 50%;
    transform: translate(50%, -125%);
    content: '';
    height: 2em;
    width: 2em;
    background-color: rgb(48, 48, 48);
}

.teacher {
    padding: 0 2em 0.5em 2em;
    margin-bottom: 2em;
    background-color: white;
    border-radius: 5px;
    text-align: center;

    /* scroll-snap-align: start; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.container {
    display: flex;
    height: 100%;
    margin-top: 5em;
    flex-direction: column;
    justify-content: center;
}

#search-teacher {
    display: flex;
    justify-content: center;
}

.unavailable {
    filter: grayscale(1);
}

.bck-grey {
    background-color: #d5d5d5;
}

.teacher-link {
    text-decoration: none;
    color: black;
    scroll-snap-align: center;
}

.found {
    border: 3px rgb(119 255 119) solid;
}

.teacher-info-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacher-info {
    height: fit-content;
    display: flex;
    background-color: white;
    padding: 1em;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.teacher-info-name {
    font-size: 2rem;
}

.teacher-info-pic {
    margin-right: 2em;
}