body {
  background-color: #f8bd19;
  font-family: "Poppins", sans-serif;
}

/* HOME BUTTON */
.homeHeader {
  padding-top: 40em;
}

header a {
  display: block;
  height: 40px;
  width: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  border: 3px black solid;
  cursor: pointer;
  padding: 15px 25px;
  outline: none;
  box-shadow: 0 9px rgb(15, 15, 15);
  position: absolute;
  bottom: 3%;
  left: 90%;
}

header a:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* MEER BUTTON */

.button-detail {
  display: block;
  height: 40px;
  width: 70px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  border: 3px black solid;
  cursor: pointer;
  outline: none;
  box-shadow: 0 9px rgb(15, 15, 15);
  bottom: 3%;
  left: 90%;
}

.button-detail:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* RANDOM BUTTON  */

.toggle {
  position: absolute;
  font-size: 20px; 
  width: 5em;
  height: 8em;
  margin: 0;
  filter: opacity(0);
  cursor: pointer;
  z-index: 2;
}

.toggle ~ .switch {
  position: absolute;
  width: 5em;
  height: 8em;
  background: linear-gradient(#d2d4d6, white);
  border-radius: 1.2em;
  box-shadow: 
      inset 0 -0.2em 0.4em rgba(212, 212, 212, 0.75), 
      inset 0 -0.8em 0 0.1em rgba(156, 156, 156, 0.85), 
      0 0 0 0.1em rgba(116, 116, 116, 0.8), 
      0 0.6em 0.6em rgba(41, 41, 41, 0.3), 
      0 0 0 0.4em #d4d7d8;
}

.toggle ~ .switch::before,
.toggle ~ .switch::after {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  font-family: sans-serif;
}

.toggle ~ .switch::before {
  content: '|';
  bottom: 1em;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.8);
}

.toggle ~ .switch::after {
  content: 'O';
  top: 0.6em;
  color: rgba(0, 0, 0, 0.45);
  text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.4);
}

.toggle:checked ~ .switch {
  background: linear-gradient(#a1a2a3, #f0f0f0);
  box-shadow: 
      inset 0 0.2em 0.4em rgba(212, 212, 212, 0.75), 
      inset 0 0.8em 0 0.1em rgba(255, 255, 255, 0.77), 
      0 0 0 0.1em rgba(116, 116, 116, 0.8), 
      0 -0.2em 0.2em rgba(41, 41, 41, 0.18), 
      0 0 0 0.4em #d4d7d8;
}

.toggle:checked ~ .switch::before {
  bottom: 0.3em;
  text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5);
}

.toggle:checked ~ .switch::after {
  top: 1.2em;
  text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.15);
}

.toggle ~ .light {
  width: 100vw;
  height: 100vh;
  background-color: #0a0a16;
  z-index: 1;
  filter: opacity(0.7);
}

.toggle:checked ~ .light {
  filter: opacity(0);
}

/* DATUM  */

#date {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* LEGENDA */

header div {
  display: flex;
  justify-content: center;
}

#legenda {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 13px;
  margin-right: 8px;
}

#legenda span {
  background-color: #d5d5d5;
}

#legenda2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 13px;
  margin-left: 8px;
}

#legenda2 span {
  background-color: #ff0000;
}

header div span {
border-radius: 50%;
border: 2px solid #000000;
height: 20px;
width: 20px;
margin: 0;
padding: 0;
display: inline-block;
margin-right: 3px;
}

/* CONTENT TEACHERS */

.container {
  display: flex;
  height: 100%;
  margin-top: 5em;
  flex-direction: column;
  justify-content: center;
}

.teachers {
  position: relative;
  width: 90%;
  margin: 0em auto;
  padding: 2em;
  display: grid;
  border: 4px solid black;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  scroll-snap-type: y mandatory;
}

.teachers::before {
  position: absolute;
  border-radius: 20px 20px 0px 0px;
  right: 50%;
  transform: translate(50%, -100%);
  content: "";
  height: 3em;
  width: 6.5em;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  background-color: rgb(255, 255, 255);
}

.teachers::after {
  position: absolute;
  border: 3px solid black;
  border-radius: 100%;
  right: 50%;
  transform: translate(50%, -100%);
  content: "";
  height: 2em;
  width: 2em;
  background-color: rgb(248, 189, 25);
}

.teacher {
  padding: 0em 1em 0.5em 1em;
  height: 80%;
  margin-bottom: 2em;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card__face {
  backface-visibility: hidden;
  height: 100%;
}

.card__face--front {
  float: left;
}

.is-flipped .card__face--front {
  display: none;
}

.card__face--back {
  text-align: center;
  word-break: break-word;
  transform: rotateY(180deg);
  display: none;
}

.is-flipped .card__face--back {
  display: block;
}

.card__face--back h1 { 
  font-size: 15px;
}
.teacher.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.teacher-link {
  text-decoration: none;
  color: black;
  scroll-snap-align: center;
}

.bck-grey {
  background-color: #d5d5d5;
}

.pic-size {
  width: 6em;
}

.unavailable {
  filter: grayscale(1);
}

.teacher-info-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teacher-info {
  position: relative;
  border: 3px solid black;
  height: fit-content;
  display: flex;
  background-color: white;
  padding: 1em;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

#teacher-info-name {
  cursor: pointer;
  font-size: 2rem;
}

.teacher-info-pic {
  margin-right: 2em;
}

/* ICONS */

.icon {
  width: 1.4em;
}

/* NAVIGATIE ZOEKEN */

#search-teacher {
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 6%;
  left: 2%;
  z-index: 1;
}

.search-teacher-btn {
  z-index: 1;
  padding: 0.6em;
  cursor: pointer;
  background: white;
  border-radius: 100%;
  margin-right: 0.5em;
  transition: background-color 0.3s ease;
}

.search-teacher-btn:hover {
  background-color: #e2e2e2;
  transition: background-color 0.3s ease;
}

.input {
  z-index: 1;
  padding-left: 1em;
  cursor: pointer;
  border-radius: 13px;
  border: 3px black solid;
}

#keyboard-bg {
  display: none;
  background: #0000005e;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
}

.simple-keyboard {
  display: none;
  position: fixed;
  bottom: 0%;
  transform: translate(-50%, 0%);
  width: 40vw;
  left: 55%;
}

.is-hidden {
  display: none;
}

/* NAVIGATIE SCROLLEN */

nav {
  position: sticky;
  bottom: 6%;
  left: 90%;
  display: inline-block;
  font-size: 16px;
}

nav button {
  background-color: #ffffff;
  border: 3px black solid;
  color: white;
  padding: 0.8em;
  margin: 4px 2px;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #e2e2e2;
  transition: background-color 0.3s ease;
}

/* ANIMATIE PUPPY */

.extraImg {
  opacity: 0;
  position: absolute;
  right: 0%;
  top: 7%;
  width: 6em;
  border-radius: 40%;
  animation: spin 4s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

/* ANIMATIE CONFETTI */

#confetti-wrapper {
  overflow: hidden;
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 100%;
  left: 0%;
  pointer-events: none;
}

.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
}

.confetti:nth-child(1) {
  background-color: #e64c54;
  left: 10%;
  animation-delay: 0;
}

.confetti:nth-child(2) {
  background-color: #7539dd;
  left: 20%;
  animation-delay: -5s;
}

.confetti:nth-child(3) {
  background-color: #198fd3;
  left: 30%;
  animation-delay: -3s;
}

.confetti:nth-child(4) {
  background-color: #cd7930;
  left: 40%;
  animation-delay: -2.5s;
}

.confetti:nth-child(5) {
  background-color: #3aec93;
  left: 50%;
  animation-delay: -4s;
}

.confetti:nth-child(6) {
  background-color: #e64c54;
  left: 60%;
  animation-delay: -6s;
}

.confetti:nth-child(7) {
  background-color: #7539dd;
  left: 70%;
  animation-delay: -1.5s;
}

.confetti:nth-child(8) {
  background-color: #198fd3;
  left: 80%;
  animation-delay: -2s;
}

.confetti:nth-child(9) {
  background-color: #cd7930;
  left: 90%;
  animation-delay: -3.5s;
}

.confetti:nth-child(10) {
  background-color: #3aec93;
  left: 100%;
  animation-delay: -2.5s;
}

.confetti:nth-child(11) {
  background-color: #e64c54;
  left: 72%;
  animation-delay: -5.5s;
}

.confetti:nth-child(12) {
  background-color: #7539dd;
  left: 34%;
  animation-delay: -2.8s;
}

.confetti:nth-child(13) {
  background-color: #198fd3;
  left: 100%;
  animation-delay: -7.5s;
}

.confetti:nth-child(14) {
  background-color: #cd7930;
  left: 16%;
  animation-delay: -8.5s;
}

@keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}