body {
  background-color: rgb(248, 189, 25);
  font-family: "Poppins", sans-serif;
}

#date {
  margin: 0.4em 0em 0em 0em;
  display: block;
  position: sticky;
}

/* HOME BUTTON */

header a {
  display: block;
  height: 40px;
  width: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  border: 3px black solid;
  cursor: pointer;
  padding: 15px 25px;
  outline: none;
  box-shadow: 0 9px rgb(15, 15, 15);
  position: absolute;
  bottom: 3%;
  left: 90%;
}

mark {
  background-color: rgb(248, 189, 25);
}

header a:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Alphabet filter */

#alphabet-filter {
  display: inline-grid;
  grid-gap: 0.4em;
  grid-template-columns: repeat(9, 1fr);
  border: none;
  position: fixed;
  bottom: -9.4em;
  left: 24em;
  transform: translateX(-50%);
  animation: none;
}

#alphabet-filter-btn {
  position: fixed;
  color: black;
  font-weight: 800;
  font-size: 0.8rem;
  bottom: -40%;
  left: 7em;
  animation: none;
}

#alphabet-select {
  position: fixed;
  color: black;
  font-weight: 800;
  font-size: 0.8rem;
  bottom: -6%;
  left: 5%;
  animation: none;
}

#search-select {
  position: fixed;
  bottom: -6%;
  left: 5%;
  animation: none;
}

#filter-select {
  position: fixed;
  bottom: -6%;
  left: 5%;
  animation: none;
}

.letterInput {
  display: none;
}

.letterLabel {
  cursor: pointer;
  padding: 1px 8px;
  margin-right: 5px;
  border-radius: 5px;
  border: 3px black solid;
  color: black;
  background-color: #ffffff;
}

.letterInput:checked + .letterLabel {
  background-color: rgb(248, 189, 25);
  color: white;
}

/* CONTENT TEACHERS */

.container {
  display: flex;
  height: 100%;
  margin-top: 4em;
  flex-direction: column;
  justify-content: center;
}

.teachers {
  position: relative;
  width: 90%;
  margin: 0em auto;
  padding: 2em;
  display: grid;
  border: 4px solid black;
  justify-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  scroll-snap-type: y mandatory;
}

.teachers-container {
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
  justify-items: center;
}

#search-teacher-btn {
  position: relative;
  z-index: 1;
  padding: 0.6em;
  cursor: pointer;
  background: white;
  border-radius: 100%;
  margin-right: 0.5em;
  transition: background-color 0.3s ease;
}

#search-teacher-btn:hover {
  background-color: #e2e2e2;
  transition: background-color 0.3s ease;
}
.input {
  z-index: 1;
  padding-left: 1em;
  cursor: pointer;
  border-radius: 13px;
  border: 3px black solid;
}

.icon {
  width: 1.4em;
}

.specialty-teacher {
  transition: all 2s ease;
  animation: alternateWave 1s ease-in infinite;
}

.teachers::before {
  position: absolute;
  border-radius: 20px 20px 0px 0px;
  right: 50%;
  transform: translate(50%, -100%);
  content: "";
  height: 3em;
  width: 6.5em;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  background-color: rgb(255, 255, 255);
}

.teachers::after {
  position: absolute;
  border: 3px solid black;
  border-radius: 100%;
  right: 50%;
  transform: translate(50%, -100%);
  content: "";
  height: 2em;
  width: 2em;
  background-color: rgb(248, 189, 25);
}

.teacher {
  padding: 0em 1em 0.5em 1em;
  height: 88%;
  border: 3px solid black;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.teacher-link {
  text-decoration: none;
  color: black;
  scroll-snap-align: center;
}

.bck-grey {
  background-color: #d5d5d5;
}

.pic-size {
  width: 3em;
}

.unavailable {
  filter: grayscale(1);
}

.teacher-info-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teacher-name {
  font-size: 0.5rem;
  margin: 0;
}

.teacher-info {
  position: relative;
  border: 3px solid black;
  height: fit-content;
  display: flex;
  background-color: white;
  padding: 1em;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

#teacher-info-name {
  cursor: pointer;
  font-size: 2rem;
  animation: wiggle 1s linear;
}

.teacher-info-pic {
  margin-right: 2em;
}

/* ICONS */

.icon {
  width: 1.4em;
}

/* NAVIGATIE ZOEKEN */

#search-teacher {
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: -40%;
  left: 6em;
  animation: none;
  z-index: 1;
}

#search-input {
  transform: translate(1em, 18.3em);
  animation: none;
}

#filter {
  position: fixed;
  bottom: -40%;
  left: 7em;
  animation: none;
}

#filters {
  display: flex;
  position: fixed;
  bottom: 1%;
  left: 7em;
}

.filterSelect {
  position: absolute;
  width: 10px;
  height: 10px;
  left: -24%;
  top: -14%;
  border-radius: 100%;
  background: red;
}

#filterSelect1 {
  display: none;
  left: -34%;
}

#filterSelect2 {
  display: none;
}

#filterSelect3 {
  display: none;
}

#filterSelect4 {
  display: none;
}

#upButton {
  position: fixed;
  bottom: 7%;
  left: 1%;
}

#downButton {
  position: fixed;
  bottom: 1%;
  left: 1%;
}

.beschrijving-leeraar {
  max-width: 350px;
}

.search-teacher-btn {
  z-index: 1;
  padding: 0.6em;
  cursor: pointer;
  background: white;
  border-radius: 100%;
  margin-right: 0.5em;
  transition: background-color 0.3s ease;
}

.search-teacher-btn:hover {
  background-color: #e2e2e2;
  transition: background-color 0.3s ease;
}

.input {
  z-index: 1;
  padding-left: 1em;
  cursor: pointer;
  border-radius: 13px;
  border: 3px black solid;
}

#keyboard-bg {
  display: none;
  background: #00000029;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
}

.simple-keyboard {
  display: none;
  position: fixed;
  bottom: 0%;
  transform: translate(-50%, 0%);
  width: 33em;
  left: 39em;
}

#specialty-filter {
  background-color: white;
  border: 3px black solid;
  position: fixed;
  bottom: -43%;
  left: 10em;
  animation: none;
}

.is-hidden {
  display: none;
}

/* NAVIGATIE SCROLLEN */

nav {
  position: sticky;
  bottom: 6%;
  left: 90%;
  display: inline-block;
  font-size: 16px;
}

button {
  background-color: #ffffff;
  border: 3px black solid;
  color: white;
  padding: 0.8em;
  margin: 4px 2px;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e2e2e2;
  transition: background-color 0.3s ease;
}

/* Filtering elements */

.filterAlphabet {
  display: none;
}

.filterText {
  display: none;
}

.filterSpecialty {
  display: none;
}

.filter-pos-container {
  position: fixed;
  bottom: 0em;
  left: 0em;
}

/* ANIMATIE PUPPY */

.extraImg {
  opacity: 0;
  position: absolute;
  right: 0%;
  top: 7%;
  width: 6em;
  border-radius: 40%;
  animation: spin 4s ease-in-out infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes showSpecialtiesToScreen {
  0% {
    bottom: -100%;
  }
  75% {
    bottom: 2.5%;
  }
  100% {
    bottom: 2%;
  }
}

@keyframes removeSpecialtiesFromScreen {
  0% {
    bottom: 2%;
  }
  25% {
    bottom: 2.5%;
  }
  100% {
    bottom: -100%;
  }
}

@keyframes showAlphabetToScreen {
  0% {
    bottom: -46.4em;
  }
  75% {
    bottom: 1em;
  }
  100% {
    bottom: 0.4em;
  }
}

@keyframes removeAlphabetFromScreen {
  0% {
    bottom: 0.4em;
  }
  25% {
    bottom: 1em;
  }
  100% {
    bottom: -46.4em;
  }
}

@keyframes showSearchToScreen {
  0% {
    transform: translate(1em, 45em);
  }
  75% {
    transform: translate(1em, 10em);
  }
  100% {
    transform: translate(1em, 11.3em);
  }
}

@keyframes removeSearchFromScreen {
  0% {
    transform: translate(1em, 10em);
  }
  25% {
    transform: translate(1em, 11.3em);
  }
  100% {
    transform: translate(1em, 45em);
  }
}

@keyframes alternateWave {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(-2.5em);
  }
  100% {
    transform: translateY(0em);
  }
}

/* Buttons animation */

@keyframes showAlphabetButtonToScreen {
  0% {
    bottom: -40%;
  }
  75% {
    bottom: 13.5%;
  }
  100% {
    bottom: 12.5%;
  }
}

@keyframes removeAlphabetButtonFromScreen {
  0% {
    bottom: 12.5%;
  }
  25% {
    bottom: 13.5%;
  }
  100% {
    bottom: -40%;
  }
}

@keyframes showSearchButtonToScreen {
  0% {
    bottom: -40%;
  }
  75% {
    bottom: 19%;
  }
  100% {
    bottom: 18%;
  }
}

@keyframes removeSearchButtonFromScreen {
  0% {
    bottom: 18%;
  }
  25% {
    bottom: 19%;
  }
  100% {
    bottom: -40%;
  }
}

@keyframes showFilterButtonToScreen {
  0% {
    bottom: -40%;
  }
  75% {
    bottom: 7.5%;
  }
  100% {
    bottom: 6.5%;
  }
}

@keyframes removeFilterButtonFromScreen {
  0% {
    bottom: 6.5%;
  }
  25% {
    bottom: 7.5%;
  }
  100% {
    bottom: -40%;
  }
}
